@model LivenessDetectionResultModel

@if (!string.IsNullOrWhiteSpace(Model.ErrorString))
{
    <div class="w-100 text-center text-danger mb-3 text-break">@Model.ErrorString</div>
    <div class="w-100">
        <div class="row">
            <div class="col-6">
                <div>SELFIE 1</div>
                <img class="border img-fluid w-100" id="image1" src="~/images/bg-placeholder.png">
            </div>
            <div class="col-6">
                <div>SELFIE 2</div>
                <img class="border img-fluid w-100" id="image2" src="~/images/bg-placeholder.png">
            </div>
        </div>
    </div>
}
else @if (Model.Live)
{
    <p><img src="~/images/pokal_icon.svg" width="32" alt="congratulation" /></p>
    <small>BWS Liveness Detection result:</small>
    @if (Model.LivenessScore > 0.0)
    {
        <h4 class="text-primary">This was live!</h4>
        <small class="mb-3">Score: @Model.LivenessScore</small>
    } else
    {
        <h4 class="text-primary mb-4">This was live!</h4>
    }
    <div class="w-100">
        <div class="row">
            <div id="selfie1" class="col-6">
                <div class="text-success">SELFIE 1</div>
                <img class="border border-2 border-success img-fluid w-100" id="image1" style="min-height:4rem;" title="@Model.ImageProperties1">
            </div>
            @if (Model.Active)
            {
                <div id="selfie2" class="col-6">
                    <div class="text-success">SELFIE 2</div>
                    <img class="border border-2 border-success img-fluid w-100" id="image2" style="min-height:4rem;" title="@Model.ImageProperties2">
                </div>
            }
            else
            {
                <div id="selfie2" class="col-6">
                    <div>SELFIE 2</div>
                    <img class="border img-fluid w-100" id="image2" src="~/images/bg-placeholder.svg">
                </div>
            }
            <div class="col-12">
                <div class="hint">*hover over the selfies for more results</div>
            </div>
        </div>
    </div>
}
else
{
    <small>BWS Liveness Detection result:</small>
    <h4 class="text-danger">This was fake!</h4>
    @foreach (var hint in Model.ErrorMessages) { <div class="text-danger">@hint</div> }
    <div class="my-2">
        You were wrongly classified as fake?<br />
        <a href="#" data-bs-toggle="modal" data-bs-target="#howItWorks">See instruction</a>
    </div>
    <div class="w-100">
        <div class="row">
            <div id="selfie1" class="col-6">
                <div class="text-danger">SELFIE 1</div>
                <img class="border border-2 border-danger img-fluid w-100" id="image1" style="min-height:4rem;" title="@Model.ImageProperties1">
            </div>
            @if (Model.Active)
            {
                <div id="selfie2" class="col-6">
                    <div class="text-danger">SELFIE 2</div>
                    <img class="border border-2 border-danger img-fluid w-100" id="image2" style="min-height:4rem;" title="@Model.ImageProperties2">
                </div>
            }
            else
            {
                <div id="selfie2" class="col-6">
                    <div>SELFIE 2</div>
                    <img class="border img-fluid w-100" id="image2" src="~/images/bg-placeholder.svg">
                </div>
            }
            <div class="col-12">
                <div class="hint">*hover over the selfies for more results</div>
            </div>
        </div>
    </div>
}
